node red flow.txt
[{"id":"a8db2cf8.0a5ef","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"a8db2cf8.0a5ef","name":"","active":true,"console":"false","complete":"false","x":650,"y":240,"wires":[]},{"id":"4482d005.3b94","type":"ibmiot in","z":"a8db2cf8.0a5ef","authentication":"apiKey","apiKey":"b3e69d8e.0e3e2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"dustbin","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":250,"y":240,"wires":[["ea47cbec.df5ac8","900c6ecf.bf2c6","5f2e504b.6c628","27ff07d2.92be98","e298e334.b078b","6a41788.807fb88","1dec42a7.e54e9d","1cf5616.dc8b69f","4fa2aef3.0a3a7","c6463645.2f1b98","9dcd06ba.c0c168","dc0a8d0f.27159"]]},{"id":"4fa2aef3.0a3a7","type":"function","z":"a8db2cf8.0a5ef","name":"rangea","func":"global.set('rangea',msg.payload.rangea)\nmsg.payload=msg.payload.rangea\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["f2f2649a.0d0d98"]]},{"id":"1cf5616.dc8b69f","type":"function","z":"a8db2cf8.0a5ef","name":"longa","func":"global.set('longa',msg.payload.longa)\nmsg.payload=msg.payload.longa\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["f2f2649a.0d0d98"]]},{"id":"1dec42a7.e54e9d","type":"function","z":"a8db2cf8.0a5ef","name":"lata","func":"global.set('lata',msg.payload.lata)\nmsg.payload=msg.payload.lata\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["f2f2649a.0d0d98"]]},{"id":"ea47cbec.df5ac8","type":"function","z":"a8db2cf8.0a5ef","name":"rangeb","func":"global.set('rangeb',msg.payload.rangeb)\nmsg.payload=msg.payload.rangeb\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["f2f2649a.0d0d98"]]},{"id":"900c6ecf.bf2c6","type":"function","z":"a8db2cf8.0a5ef","name":"longb","func":"global.set('longb',msg.payload.longb)\nmsg.payload=msg.payload.longb\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["f2f2649a.0d0d98"]]},{"id":"5f2e504b.6c628","type":"function","z":"a8db2cf8.0a5ef","name":"latb","func":"global.set('latb',msg.payload.latb)\nmsg.payload=msg.payload.latb\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["f2f2649a.0d0d98"]]},{"id":"27ff07d2.92be98","type":"function","z":"a8db2cf8.0a5ef","name":"rangec","func":"global.set('rangec',msg.payload.rangec)\nmsg.payload=msg.payload.rangec\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["f2f2649a.0d0d98"]]},{"id":"e298e334.b078b","type":"function","z":"a8db2cf8.0a5ef","name":"longc","func":"global.set('longc',msg.payload.longc)\nmsg.payload=msg.payload.longc\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["f2f2649a.0d0d98"]]},{"id":"6a41788.807fb88","type":"function","z":"a8db2cf8.0a5ef","name":"latc","func":"global.set('latc',msg.payload.latc)\nmsg.payload=msg.payload.latc\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["f2f2649a.0d0d98"]]},{"id":"c6463645.2f1b98","type":"function","z":"a8db2cf8.0a5ef","name":"ranged","func":"global.set('ranged',msg.payload.ranged)\nmsg.payload=msg.payload.ranged\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["f2f2649a.0d0d98"]]},{"id":"9dcd06ba.c0c168","type":"function","z":"a8db2cf8.0a5ef","name":"longd","func":"global.set('longd',msg.payload.longd)\nmsg.payload=msg.payload.longd\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["f2f2649a.0d0d98"]]},{"id":"dc0a8d0f.27159","type":"function","z":"a8db2cf8.0a5ef","name":"latd","func":"global.set('latd',msg.payload.latd)\nmsg.payload=msg.payload.latd\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["f2f2649a.0d0d98"]]},{"id":"d214afb2.8a3f9","type":"function","z":"a8db2cf8.0a5ef","name":"","func":"msg.payload={'rangea':global.get(\"rangea\"),'longa':global.get(\"longa\"),'lata':global.get(\"lata\"),'rangeb':global.get(\"rangeb\"),'longb':global.get(\"longb\"),'latb':global.get(\"latb\"),'rangec':global.get(\"rangec\"),'longc':global.get(\"longc\"),'latc':global.get(\"latc\"),'ranged':global.get(\"ranged\"),'longd':global.get(\"longd\"),'latd':global.get(\"latd\")}\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":160,"wires":[["e3602217.741c7"]]},{"id":"3adf4783.157538","type":"http in","z":"a8db2cf8.0a5ef","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":880,"y":180,"wires":[["d214afb2.8a3f9"]]},{"id":"e3602217.741c7","type":"http response","z":"a8db2cf8.0a5ef","name":"","statusCode":"","headers":{},"x":1390,"y":160,"wires":[]},{"id":"b3e69d8e.0e3e2","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]