noderedflow.txt
[{"id":"459fd1d.57dc43","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"27c6582d.f04fa8","type":"debug","z":"459fd1d.57dc43","name":"","active":true,"console":"false","complete":"false","x":650,"y":240,"wires":[]},{"id":"c4efffac.af40f","type":"ibmiot in","z":"459fd1d.57dc43","authentication":"apiKey","apiKey":"3513b69a.89c76a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"dustbin","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":250,"y":240,"wires":[["3137b6d4.80bb7a","f3c63b24.80b9a8","668ac149.8fd13","815a4e28.aca3a","cf770c51.806ae","a5e5ddd7.eb8b3","50cb82f3.79bd6c","824e1db.7a99ae","218a3386.26410c","2723ee9c.3af102","c3357484.22d7c8","b63502a4.91a"]]},{"id":"218a3386.26410c","type":"function","z":"459fd1d.57dc43","name":"rangea","func":"global.set('rangea',msg.payload.rangea)\nmsg.payload=msg.payload.rangea\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["27c6582d.f04fa8"]]},{"id":"824e1db.7a99ae","type":"function","z":"459fd1d.57dc43","name":"longa","func":"global.set('longa',msg.payload.longa)\nmsg.payload=msg.payload.longa\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["27c6582d.f04fa8"]]},{"id":"50cb82f3.79bd6c","type":"function","z":"459fd1d.57dc43","name":"lata","func":"global.set('lata',msg.payload.lata)\nmsg.payload=msg.payload.lata\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["27c6582d.f04fa8"]]},{"id":"3137b6d4.80bb7a","type":"function","z":"459fd1d.57dc43","name":"rangeb","func":"global.set('rangeb',msg.payload.rangeb)\nmsg.payload=msg.payload.rangeb\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["27c6582d.f04fa8"]]},{"id":"f3c63b24.80b9a8","type":"function","z":"459fd1d.57dc43","name":"longb","func":"global.set('longb',msg.payload.longb)\nmsg.payload=msg.payload.longb\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["27c6582d.f04fa8"]]},{"id":"668ac149.8fd13","type":"function","z":"459fd1d.57dc43","name":"latb","func":"global.set('latb',msg.payload.latb)\nmsg.payload=msg.payload.latb\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["27c6582d.f04fa8"]]},{"id":"815a4e28.aca3a","type":"function","z":"459fd1d.57dc43","name":"rangec","func":"global.set('rangec',msg.payload.rangec)\nmsg.payload=msg.payload.rangec\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["27c6582d.f04fa8"]]},{"id":"cf770c51.806ae","type":"function","z":"459fd1d.57dc43","name":"longc","func":"global.set('longc',msg.payload.longc)\nmsg.payload=msg.payload.longc\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["27c6582d.f04fa8"]]},{"id":"a5e5ddd7.eb8b3","type":"function","z":"459fd1d.57dc43","name":"latc","func":"global.set('latc',msg.payload.latc)\nmsg.payload=msg.payload.latc\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["27c6582d.f04fa8"]]},{"id":"2723ee9c.3af102","type":"function","z":"459fd1d.57dc43","name":"ranged","func":"global.set('ranged',msg.payload.ranged)\nmsg.payload=msg.payload.ranged\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["27c6582d.f04fa8"]]},{"id":"c3357484.22d7c8","type":"function","z":"459fd1d.57dc43","name":"longd","func":"global.set('longd',msg.payload.longd)\nmsg.payload=msg.payload.longd\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["27c6582d.f04fa8"]]},{"id":"b63502a4.91a","type":"function","z":"459fd1d.57dc43","name":"latd","func":"global.set('latd',msg.payload.latd)\nmsg.payload=msg.payload.latd\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["27c6582d.f04fa8"]]},{"id":"4a55e27f.6107fc","type":"function","z":"459fd1d.57dc43","name":"","func":"msg.payload={'rangea':global.get(\"rangea\"),'longa':global.get(\"longa\"),'lata':global.get(\"lata\"),'rangeb':global.get(\"rangeb\"),'longb':global.get(\"longb\"),'latb':global.get(\"latb\"),'rangec':global.get(\"rangec\"),'longc':global.get(\"longc\"),'latc':global.get(\"latc\"),'ranged':global.get(\"ranged\"),'longd':global.get(\"longd\"),'latd':global.get(\"latd\")}\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":160,"wires":[["64102b6e.6de0d4"]]},{"id":"98ad58ca.02df08","type":"http in","z":"459fd1d.57dc43","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":880,"y":180,"wires":[["4a55e27f.6107fc"]]},{"id":"64102b6e.6de0d4","type":"http response","z":"459fd1d.57dc43","name":"","statusCode":"","headers":{},"x":1390,"y":160,"wires":[]},{"id":"3513b69a.89c76a","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]